<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D24FB431BC79EAD00373D19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D24FB5C1BC79EAD00373D19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D24FB671BC79EAD00373D19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
